version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: bookshop
      POSTGRES_PASSWORD: bookshoppass
      POSTGRES_DB: bookshopdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  bookshop_api:
    image: "${APP_IMG}"
    environment:
      - DATABASE_URL=postgresql://bookshop:bookshoppass@postgres:5432/bookshopdb
    depends_on:
      - postgres
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - bookshop_api
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
